<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  <p>Username: <input type="text" name="username" required></p>
  <p>Password: <input type="text" name="password" required></p>
  <input type="submit" value="Log In">
</form> 
