<h1>Account</h1>

<% if logged_in? %>

    <h2>Welcome back <%= current_user.username %></h2>

    <% current_user.cars %>

    <%= car.year %>

    <p>We are currently working on your account.</p>

<% end %>

<p><a href='/cars/new'>Add a Car</a></p>

<p><a href='/account/edit'>Edit Account</a></p>

<p><a href='/logout'>Logout</a></p>