<h1>Edit <%= current_user.name %></h1>

<form method="POST" action="/account/edit"
    <input type="hidden" name="_method" value="PATCH">
    <p>Name: <input type="text" name="user[name]"></p>
    <p>Username: <input type="text" name="user[username]"></p>
    <p>Email: <input type="email" name="user[email]"></p>
    <p>Password: <input type="password" name="user[password]"></p>
    <input type="submit" value="Update Account"
</form>
