<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/welcomestyle.css"/>
</head>
<body>

  <div class="content">
      <p>Welcome to the Car Collector App! This is an app to help track and show your cars to other users of this platform! Please feel free to sign up or login.</p>
  </div>

</body>
</html>
    
    

    

  
