<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/welcomestyle.css"/>
</head>
<body>

  <div class="content">
      <h1>Welcome to the Car Collector App!</h1>
      <h2>This is an app to help track and show your cars to other users of this platform! Please feel free to sign up or login.</h2>
  </div>

</body>
</html>
    
    

    

  
